
.wrapper{
  max-width: 650px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px;
}
.wrapper__element{
  height: 440px;
  max-width: 255px;
  cursor: pointer;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.wrapper__element .wrapper__element-img{
  width: 100%;
  height:100%;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}
.wrapper__elemen--change{
  position: absolute;
  top:0px;
  left:0px;
  background-color: rgba(255,255,255,.7);
  width:100%;
  height:100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}
.wrapper__element:hover .wrapper__elemen--change{
  left:0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}
.wrapper__element:hover{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  transform: scale(.97);
}
.wrapper__element:hover .wrapper__element-img{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.wrapper__element .wrapper__elemen-h{
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.wrapper__element .wrapper__elemen-p{
  line-height: 30px;
}